.sec1 {
  border: 1px solid red;
  width: 80%;
  margin: auto;
  position: relative;
}
.listCon {
  overflow: hidden;
}
.listCon ul {
  display: flex;
  width: 100%;
}
.listCon li {
  width: calc(100%);
}
.sec1 > button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: dodgerblue;
  border: none;
  outline: none;
}

.card {
  position: relative;
  padding: 0.5rem;
}

.card .imgs {
  position: relative;
  padding-top: 120%;
  margin-bottom: 1rem;
  overflow: hidden;
}
.card .imgs img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
}
.card .imgs img:nth-of-type(2) {
  opacity: 0;
  transition: 0.3s;
}
.card:hover .imgs img:nth-of-type(2) {
  opacity: 1;
}
.card h2 {
  color: #6d6d6d;
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
}
.card p {
  display: flex;
  flex-direction: column;
  color: #6d6d6d;
  font-size: 0.5rem;
}
.card .info span {
  color: red;
  font-weight: bold;
}

.card span {
  opacity: 0.8;
  margin-bottom: 0.3rem;
}
.card .info u {
  text-decoration: line-through;
  text-decoration-color: black;
  color: #aaaaaa;
}
.card .info strong {
  font-weight: bold;
}

.card .icon {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.card .icon button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.card .icon img {
  width: 20px;
  opacity: 0.8;
}
.card .icon button:hover img {
  opacity: 1;
}
.card .more {
  position: absolute;
  color: transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
